.meta-data-date-time {
    font-style: italic;
    color: #343a40;
}

.meta-data-username {
    text-transform: uppercase;
    font-style: normal;
    text-decoration: underline;
    color: #343a40;
}

.meta-data {
    font-size: small;
}


/* 
.btn-group>.btn-group {
    border-radius: 5px !important;
} */


.btn-primary {
    margin: 0 auto 10% !important;
    border-radius: 10px !important;
}


/* .comment-share-button {
    float: right !important;
    border-radius: 5px;
    box-shadow: -1px 2px 2px 1px rgba(0, 0, 0, 0.5);
} */

.CommentBtn {
    position: absolute;
    bottom: 0;
    
    float: right !important;
    border-radius: 5px !important;
    box-shadow: -1px 2px 2px 1px rgba(0, 0, 0, 0.5);
}

.card:hover {
    box-shadow: 0 0 12px 3px rgba(0, 0, 0, 0.08);
}

#PostBody {
    background: rgba(221, 221, 221, 0.6);
    border: 1px solid #292929;
    box-shadow: -7px 10px 10px 5px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    width: 30%;

}

.LinkToPost {
    color: #343a40;
}
.LinkToPost:hover {
    color: #343a40;
}
.LinkToPost:visited {
    color: #cecece;
}