.PhotoBtn {
    /* background: #032626; */
    border-radius: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    outline: none;
    border: none;
    color: white;
}

.modal-header{ 
    color: white;
}

.userPhotoModal {
    color: white;
}

.uploadphoto-btns{
    color: white !important;
    font-family: 'Proza Libre', sans-serif;
    font-size: smaller;
}
