.UserLikes {
    margin-right: 5rem;
    color: white;
    background: rgba( 221, 221, 221, 0.1 );
    box-shadow: -7px 10px 10px 5px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur( 14.5px );
    -webkit-backdrop-filter: blur( 14.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}