.forum-container {
    margin: auto;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 1rem;
    margin-bottom: 5rem;
}

.row {
    justify-content: center;
}

.form-control:focus {
    border: white;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(0, 0, 0, 0.5);
}