button {
    border-radius: 20%;
    -webkit-transition: -webkit-transform .5s ease-in-out;
            transition:         transform .5s ease-in-out;
  }
  button:hover {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }

  .fa-plus-square {
      color: black;
  }

  button.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }