#dev-btn {
    
    background-color: transparent;
    border-color: transparent;
    outline: none;
    background: none;
    border-radius: 20%;
    -webkit-transition: -webkit-transform .5s ease-in-out;
            transition:         transform .5s ease-in-out;
  }
  
  #dev-btn:hover {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }

  #dev-btn:focus {
    border-color:transparent!important;
    outline:none;
   }

  .fa-plus-square {
      color: #c4c4c4;
  }

  button.button {
    display: inline-flex;
    align-self: flex-start;
    justify-content: center;
  }

  /* .showingDiv {
      overflow: hidden;
  } */