#CreatePostBtn {
    background: rgba( 221, 221, 221, 0.5 );
    box-shadow: -7px 10px 10px 5px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur( 14.5px );
    -webkit-backdrop-filter: blur( 14.5px );
    border-radius: 5px !important;
    border: none;

}

#CreatePostBtn:hover {
    background: none;

}