.dev-image-left {
    
    width: 240px;
    height: 243px;
    left: 248px;
    top: 886px;
    border-radius: 50%;
    animation: swing ease-in-out 5s infinite alternate;
    /* transform-origin: center -10px; */
    float:left;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);

    /* border-radius: 50%;
    max-width: 12rem;
    animation: rotate 5s infinite; */
}

.dev-image-right {
    
    width: 240px;
    height: 243px;
    left: 248px;
    top: 886px;
    border-radius: 50%;
    animation: swing ease-in-out 5s infinite alternate;
    /* transform-origin: center -10px; */
    float:right;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);

    /* border-radius: 50%;
    max-width: 12rem;
    animation: rotate 5s infinite; */
}


/* @keyframes rotate{
    0% { transform: rotate(180deg)}

    100% { transform: rotate(360deg) }
} */

@keyframes swing { 

    /* 0% { transform: rotate(45deg); } 
    100% { transform: rotate(-90deg); } */

    20% { transform: rotate(20deg); } 
    40% { transform: rotate(-30deg); } 
    60% { transform: rotate(20deg); } 
    80% { transform: rotate(-10deg); } 
    100% { transform: rotate(10deg); } 
 } 