.dev-image-left {
    
    width: 240px;
    height: 243px;
    left: 248px;
    top: 886px;
    border-radius: 20%;
    float:left;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);

}

.dev-image-right {
    
    width: 240px;
    height: 243px;
    left: 248px;
    top: 886px;
    border-radius: 20%;
    float:right;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);

}


